<app-content-header
  [titulo]="titulo"
  [lista]="lista">
</app-content-header>

<section class="content">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Datos de la Tarjeta</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form" #tarjetaForm="ngForm">
      <div class="box-body">

        <div class="form-group mb10 clearfix">
          <label for="numeroTarjeta" class="col-sm-2">Numero de Tarjeta</label>
          <div class="col-sm-10">

            <input id="numeroTarjeta"
                   placeholder="Ingrese Numero de Tarjeta"
                   type="number"
                   class="form-control"
                   [(ngModel)]="tarjetaModel.numeroTarjeta"
                   name="numeroTarjeta"
                   #numeroTarjeta="ngModel">
          </div>
        </div>

        <div class="form-group mb10 clearfix">
          <label for="marca" class="col-sm-2">Marca</label>
          <div class="col-sm-10">

            <input id="marca"
                   placeholder="Ingrese la Marca"
                   type="number"
                   class="form-control"
                   [(ngModel)]="tarjetaModel.marca"
                   name="marca"
                   #marca="ngModel">
          </div>
        </div>


        <div class="form-group mb10 clearfix">
          <label for="lineaCredito" class="col-sm-2">Linea de Credito</label>
          <div class="col-sm-10">

            <input id="lineaCredito"
                   placeholder="Ingrese Linea de Credito"
                   type="number"
                   class="form-control"
                   [(ngModel)]="tarjetaModel.lineaCredito"
                   name="lineaCredito"
                   #lineaCredito="ngModel">
          </div>
        </div>

        <div class="form-group mb10 clearfix">
          <label for="fechaVencimiento" class="col-sm-2">Fecha Vencimiento</label>
          <div class="col-sm-10">

            <input id="fechaVencimiento"
                   placeholder="Ingrese la Fecha Vencimiento"
                   type="date"
                   class="form-control"
                   [(ngModel)]="tarjetaModel.fechaVencimiento"
                   name="fechaVencimiento"
                   #fechaVencimiento="ngModel">
          </div>
        </div>

        <div class="form-group mb10 clearfix">
          <label for="entidadFinanciera" class="col-sm-2">Entidad Financiera</label>
          <div class="col-sm-10">
            <select class="form-control" id="entidadFinanciera"
                    [(ngModel)]="tarjetaModel.entidadFinancieraId"
                    [ngModelOptions]="{standalone: true}">
              <option *ngFor="let entidadFinanciera of entidadesFinancieras"
                      [value]="entidadFinanciera.id">
                {{entidadFinanciera.nombre}}
              </option>
            </select>
          </div>
        </div>

        <!--        {{tarjetaModel | json}}-->
      </div>

      <!-- /.box-body -->
      <div class="box-footer">
        <button class="btn btn-secondary"
                (click)="back()"
                title="Cancelar"
                style="margin-right: 5px">
          Cancelar
        </button>

        <button class="btn btn-primary pull-right"
                role="button"
                (click)='create()'
                *ngIf="!tarjetaModel.id else elseBlock"
                [disabled]="!tarjetaForm.form.valid"
                style="margin-right: 5px">
          Guardar
        </button>
        <ng-template #elseBlock>
          <button class="btn btn-primary pull-right"
                  role="button"
                  (click)='update()'
                  [disabled]="!tarjetaForm.form.valid"
                  style="margin-right: 5px">
            Editar
          </button>
        </ng-template>
      </div>
    </form>
  </div>
</section>
