<app-content-header
  [titulo]="titulo"
  [lista]="lista">
</app-content-header>

<section class="content">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Detalles de la Tarjeta</h3>
    </div>


    <!-- /.box-header -->
    <!-- form start -->
    <form role="form" #tarjetaForm="ngForm">
      <div class="box-body">

        <div class="form-group mb10 clearfix">
          <label for="numeroTarjeta" class="col-sm-2 col-form-label">Numero de Tarjeta</label>
          <div class="col-sm-10">
            <span class="form-control-plaintext" id="numeroTarjeta">{{tarjeta.numeroTarjeta}}</span>
          </div>
        </div>

        <div class="form-group mb10 clearfix">
          <label for="marca" class="col-sm-2 col-form-label">Marca</label>
          <div class="col-sm-10">
            <span class="form-control-plaintext" id="marca">{{tarjeta.marca}}</span>
          </div>
        </div>

        <div class="form-group mb10 clearfix">
          <label for="entidadFinancieraNombre" class="col-sm-2 col-form-label">Entidad Financiera</label>
          <div class="col-sm-10">
            <span class="form-control-plaintext"
                  id="entidadFinancieraNombre">{{tarjeta.entidadFinancieraNombre}}</span>
          </div>
        </div>

        <div class="form-group mb10 clearfix">
          <label for="fechaVencimiento" class="col-sm-2">Fecha de Vencimiento</label>
          <div class="col-sm-10">
            <div class="col-sm-10">
              <span class="form-control-plaintext" id="fechaVencimiento">{{tarjeta.fechaVencimiento}}</span>
            </div>
          </div>
        </div>

        <div class="form-group mb10 clearfix">
          <label for="lineaCredito" class="col-sm-2">Linea de Credito</label>
          <div class="col-sm-10">
            <div class="col-sm-10">
              <span class="form-control-plaintext" id="lineaCredito">{{tarjeta.lineaCredito}}</span>
            </div>
          </div>
        </div>

        <div class="dataTables_wrapper form-inline dt-bootstrap">
          <div class="row">
            <div class="col-sm-12">
              <table class="table table-bordered table-striped dataTable" *ngIf="movimientos?.length > 0">
                <thead>
                <tr role="row">
                  <th tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                      aria-label="Numero de Cuota: activate to sort column ascending">Fecha de pago
                  </th>
                  <th tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                      aria-label="Monto Pagado: activate to sort column ascending">Monto Pagado
                  </th>
                  <th tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                      aria-label="Tipo de Pago: activate to sort column ascending">Tipo de Pago
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr class="odd" role="row" *ngFor="let movimiento of movimientos; let i=index">
                  <td>{{movimiento.fechaMovimiento}}</td>
                  <td>{{movimiento.montoPagado}}</td>
                  <td>{{movimiento.tipoPagoNombre}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <app-pagination [page]="page" (paginationEvent)="changePage($event)"></app-pagination>
            </div>
          </div>
        </div>
        <!--        {{ahorroPagoModel | json}}-->
      </div>

      <!-- /.box-body -->
      <div class="box-footer">
        <button class="btn btn-secondary"
                (click)="back()"
                title="Cancelar"
                style="margin-right: 5px">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</section>
