<app-content-header
  [titulo]="titulo"
  [lista]="lista">
</app-content-header>
<section class="content">

  <div class="box">
    <div class="box-body">
      <div class="dataTables_wrapper form-inline dt-bootstrap">
        <div class="row" style="padding-bottom: 5px">
          <div class="col-sm-6">
            <button *ngIf="authService.hasRole('ROLE_ADMIN')"
                    class="btn btn-primary float-left"
                    [routerLink]="['/creditos/form']"
                    title="Agregar nuevo"
                    style="margin-right: 5px">
              <i class="fa fa-plus"></i>
              Nuevo Credito
            </button>
          </div>
          <div class="col-sm-6">
            <div id="example1_filter" class="dataTables_filter">
              <label>Buscar:
                <input class="form-control input-sm"
                       placeholder=""
                       aria-controls="example1"
                       type="search"
                       [(ngModel)]="inputDeBuscar"
                       (keyup.enter)="buscar()">
              </label>
            </div>
          </div>
        </div>
<!--        {{inputDeBuscar | json}}-->
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered table-striped dataTable" *ngIf="creditos?.length > 0">
              <thead>
              <tr role="row">
                <th (click)="sortingPage('nroCredito')"
                    [ngClass]="setClasses('nroCredito')"
                    tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                    aria-sort="ascending"
                    aria-label="Nro. Credito: activate to sort column descending">Nro. Credito
                </th>
                <th (click)="sortingPage('destinoCredito')"
                    [ngClass]="setClasses('destinoCredito')" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                    aria-label="Destino Credito: activate to sort column ascending">Destino Credito
                </th>
                <th (click)="sortingPage('entidadFinancieraNombre')"
                    [ngClass]="setClasses('entidadFinancieraNombre')" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                    aria-label="Entidad Financiera: activate to sort column ascending">Entidad Financiera
                </th>
                <th (click)="sortingPage('monedaDescripcion')"
                    [ngClass]="setClasses('monedaDescripcion')" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                    aria-label="Tipo Moneda: activate to sort column ascending">Tipo Moneda
                </th>
                <th width="20%">
                  Acciones
                </th>
              </tr>
              </thead>
              <tbody>
              <tr class="odd" role="row" *ngFor="let credito of creditos; let i=index">
                <td>{{credito.nroCredito}}</td>
                <td>{{credito.destinoCredito}}</td>
                <td>{{credito.entidadFinancieraNombre}}</td>
                <td>{{credito.monedaDescripcion}}</td>
                <td class="text-right">
                  <button *ngIf="authService.hasRole('ROLE_ADMIN')"
                          [routerLink]="['/creditos/form', credito.id]"
                          type="button"
                          class="btn btn-sm btn-light"
                          title="Editar"
                          style="margin-right: 5px">
                    <i class="fa fa-pencil"></i>
                    Editar
                  </button>
                  <button *ngIf="authService.hasRole('ROLE_ADMIN')"
                          type="button"
                          class="btn btn-sm btn-danger"
                          title="Eliminar"
                          (click)='delete(credito)'
                          style="margin-right: 5px">
                    <i class="fa fa-eye"></i>
                    Eliminar
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <app-pagination [page]="page" (paginationEvent)="changePage($event)"></app-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
