<div class="login-box">
  <div class="login-logo">
    <b>APP</b>FINANZAS 1.0<br>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">

    <div class="col">
      <a href="#" class="fb btn btn-block btn-lg">
        <i class="fa fa-facebook fa-fw"></i> Login con Facebook
      </a>
      <a href="#" class="google btn btn-block btn-lg">
        <i class="fa fa-google fa-fw"></i> Login con Google+
      </a>
    </div>

    <div class="or-seperator"><i>O inicie una sesión</i></div>

    <form role="form" method="post">
      <div class="form-group has-feedback">
        <input id="username"
               class="form-control input-lg"
               [(ngModel)]="usuario.username"
               type="text"
               name="username"
               placeholder="Nombre de usuario"
               autofocus
               required>

        <span class="glyphicon glyphicon-user form-control-feedback"></span>
        <!--<div class="alert alert-warning" role="alert"-->
        <!--*ngIf="!rForm.controls['username'].valid  && rForm.controls['username'].touched">-->
        <!--El campo es requerido y debe tener un minimo de 3 caracteres.-->
        <!--</div>-->
      </div>
      <div class="form-group has-feedback">
        <input id="password"
               class="form-control input-lg"
               [(ngModel)]="usuario.password"
               type="password"
               name="password"
               placeholder="Contraseña"
               required/>

        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <!--<div class="alert alert-warning" role="alert"-->
        <!--*ngIf="!rForm.controls['password'].valid  && rForm.controls['password'].touched">-->
        <!--El campo es requerido y debe tener un minimo de 3 caracteres.-->
        <!--</div>-->
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-12">
          <!--<input [disabled]="!rForm.valid" type="submit" class="btn btn-primary btn-block btn-flat"-->
          <!--value="Entrar"/> -->
          <input class="btn btn-success btn-block btn-lg"
                 (click)='login()'
                 type="submit"
                 value="Entrar">

        </div>
        <!-- /.col -->
      </div>
    </form>
    <br>
    <div class="clearfix">
      <div class="hint-text pull-right">No tienes una cuenta? <a href="/" class="text-success">Registrate ahora!</a>
      </div>
    </div>

  </div>
  <!-- /.login-box-body -->
  <p class="text-center mt10"><img src="../../../assets/images/fuentepy-transp-lightcase.png" alt=""></p>
</div>
