<app-content-header
  [titulo]="titulo"
  [lista]="lista">
</app-content-header>

<section class="content">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Datos del Pago</h3>
    </div>


    <!-- /.box-header -->
    <!-- form start -->
    <form role="form" #prestamoForm="ngForm">
      <div class="box-body">

        <div class="form-group mb10 clearfix">
          <label for="destinoPrestamo" class="col-sm-2 col-form-label">Destino del Prestamo</label>
          <div class="col-sm-10">
            <span class="form-control-plaintext" id="destinoPrestamo">{{prestamo.destinoPrestamo}}</span>
          </div>
        </div>

        <div class="form-group mb10 clearfix">
          <label for="entidadFinancieraNombre" class="col-sm-2 col-form-label">Entidad FinancieraNombre</label>
          <div class="col-sm-10">
            <span class="form-control-plaintext"
                  id="entidadFinancieraNombre">{{prestamo.entidadFinancieraNombre}}</span>
          </div>
        </div>

        <div class="form-group mb10 clearfix">
          <label for="numeroCuota" class="col-sm-2">Numero de Cuota</label>
          <div class="col-sm-10">
            <div class="col-sm-10">
              <span class="form-control-plaintext" id="numeroCuota">{{prestamo.cantidadCuotasPagadas + 1}} / {{prestamo.cantidadCuotas}}</span>
            </div>
          </div>
        </div>


        <div class="form-group mb10 clearfix">
          <label for="fechaPago" class="col-sm-2">Fecha Pago</label>
          <div class="col-sm-10">

            <input id="fechaPago"
                   placeholder="Ingrese la Fecha Pago"
                   type="date"
                   class="form-control"
                   [ngModel]="prestamoPagoModel.fechaPago | date:'yyyy-MM-dd'"
                   (ngModelChange)="prestamoPagoModel.fechaPago = $event"
                   name="fechaPago"
                   #fechaPago="ngModel">
          </div>
        </div>

        <div class="form-group mb10 clearfix">
          <label for="montoPagado" class="col-sm-2">Monto Pagado</label>
          <div class="col-sm-10">

            <input id="montoPagado"
                   placeholder="Ingrese el Monto Pagado"
                   type="number"
                   class="form-control"
                   [(ngModel)]="prestamoPagoModel.montoPagado"
                   name="montoPagado"
                   #montoPagado="ngModel">
          </div>
        </div>

        <div class="form-group mb10 clearfix">
          <label for="entidadFinanciera" class="col-sm-2">Tipo de Pago</label>
          <div class="col-sm-10">
            <select class="form-control" id="entidadFinanciera"
                    [(ngModel)]="prestamoPagoModel.tipoPagoId"
                    [ngModelOptions]="{standalone: true}">
              <option *ngFor="let tipoPago of tiposPagos"
                      [value]="tipoPago.id">
                {{tipoPago.nombre}}
              </option>
            </select>
          </div>
        </div>

        <!--        {{prestamoPagoModel | json}}-->
      </div>

      <!-- /.box-body -->
      <div class="box-footer">
        <button class="btn btn-secondary"
                (click)="back()"
                title="Cancelar"
                style="margin-right: 5px">
          Cancelar
        </button>

        <button class="btn btn-success pull-right"
                role="button"
                (click)='create()'
                *ngIf="!prestamoPagoModel.id else elseBlock"
                [disabled]="!prestamoForm.form.valid"
                style="margin-right: 5px">
          Pagar
        </button>
        <ng-template #elseBlock>
          <button class="btn btn-primary pull-right"
                  role="button"
                  (click)='update()'
                  [disabled]="!prestamoForm.form.valid"
                  style="margin-right: 5px">
            Editar
          </button>
        </ng-template>
      </div>
    </form>
  </div>
</section>
