<app-content-header
  [titulo]="titulo"
  [lista]="lista">
</app-content-header>

<section class="content">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Detalles del Prestamo</h3>
    </div>


    <!-- /.box-header -->
    <!-- form start -->
    <form role="form" #prestamoForm="ngForm">
      <div class="box-body">

        <div class="form-group mb10 clearfix">
          <label for="destinoPrestamo" class="col-sm-2 col-form-label">Destino del Prestamo</label>
          <div class="col-sm-10">
            <span class="form-control-plaintext" id="destinoPrestamo">{{prestamo.destinoPrestamo}}</span>
          </div>
        </div>

        <div class="form-group mb10 clearfix">
          <label for="entidadFinancieraNombre" class="col-sm-2 col-form-label">Entidad FinancieraNombre</label>
          <div class="col-sm-10">
            <span class="form-control-plaintext"
                  id="entidadFinancieraNombre">{{prestamo.entidadFinancieraNombre}}</span>
          </div>
        </div>

        <div class="form-group mb10 clearfix">
          <label for="montoPrestamo" class="col-sm-2">Monto Total</label>
          <div class="col-sm-10">
            <div class="col-sm-10">
              <span class="form-control-plaintext" id="montoPrestamo">{{prestamo.montoPrestamo}}</span>
            </div>
          </div>
        </div>

        <div class="form-group mb10 clearfix">
          <label for="numeroCuota" class="col-sm-2">Cantidad de Cuotas</label>
          <div class="col-sm-10">
            <div class="col-sm-10">
              <span class="form-control-plaintext" id="numeroCuota">{{prestamo.cantidadCuotas}}</span>
            </div>
          </div>
        </div>

        <div class="form-group mb10 clearfix">
          <label for="tasa" class="col-sm-2">Tasa</label>
          <div class="col-sm-10">
            <div class="col-sm-10">
              <span class="form-control-plaintext" id="tasa">{{prestamo.tasa}}</span>
            </div>
          </div>
        </div>

        <div class="form-group mb10 clearfix">
          <label for="fechaDesembolso" class="col-sm-2">Fecha Desembolso</label>
          <div class="col-sm-10">
            <div class="col-sm-10">
              <span class="form-control-plaintext" id="fechaDesembolso">{{prestamo.fechaDesembolso}}</span>
            </div>
          </div>
        </div>

        <div class="form-group mb10 clearfix">
          <label for="fechaVencimiento" class="col-sm-2">Fecha Vencimiento</label>
          <div class="col-sm-10">
            <div class="col-sm-10">
              <span class="form-control-plaintext" id="fechaVencimiento">{{prestamo.fechaVencimiento}}</span>
            </div>
          </div>
        </div>

        <div class="form-group mb10 clearfix">
          <label for="interes" class="col-sm-2">Interes</label>
          <div class="col-sm-10">
            <div class="col-sm-10">
              <span class="form-control-plaintext" id="interes">{{prestamo.interes}}</span>
            </div>
          </div>
        </div>

        <div class="dataTables_wrapper form-inline dt-bootstrap">
          <div class="row">
            <div class="col-sm-12">
              <table class="table table-bordered table-striped dataTable" *ngIf="prestamosPagos?.length > 0">
                <thead>
                <tr role="row">
                  <th tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                      aria-label="Saldo: activate to sort column ascending">Cuota
                  </th>
                  <th tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                      aria-label="Numero de Cuota: activate to sort column ascending">Fecha de pago
                  </th>
                  <th tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                      aria-label="Monto Pagado: activate to sort column ascending">Monto Pagado
                  </th>
                  <th tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                      aria-label="Tipo de Pago: activate to sort column ascending">Tipo de Pago
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr class="odd" role="row" *ngFor="let prestamoPago of prestamosPagos; let i=index">
                  <td>{{prestamoPago.numeroCuota}}</td>
                  <td>{{prestamoPago.fechaPago}}</td>
                  <td>{{prestamoPago.montoPagado}}</td>
                  <td>{{prestamoPago.tipoPagoNombre}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <app-pagination [page]="page" (paginationEvent)="changePage($event)"></app-pagination>
            </div>
          </div>
        </div>
        <!--        {{prestamoPagoModel | json}}-->
      </div>

      <!-- /.box-body -->
      <div class="box-footer">
        <button class="btn btn-secondary"
                (click)="back()"
                title="Cancelar"
                style="margin-right: 5px">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</section>
